<!-- <p>I am working</p>
<button (click)="add(1,2)">add</button>
<button (click)="subtraction(9,5)">sub</button> -->

<!DOCTYPE html>
<html>
    <head>
        <title>HTML cheat sheet</title>

    </head>
<body>
    <!--headingS -->
        <h1>heading one</h1>
        <h2>heading two</h2>
        <h3>heading three</h3>
        <h4>heding four</h4>
        <h5>heading five</h5>
        <h6>heading six</h6>

        <!--paragraph-->
        <p>
           <strong>this is loading </strong> this is loading <em>is loding this is loading </em> 
           this is loading <a href="http://google.com" target="_blank">this is loading </a>this is loading this is loading this is loading
        </p>
        <!--lists-->
        <ul>
            <li>list item 1</li>
            <li>list item 2</li>
            <li>list item 3</li>
            <li>list item 4</li>
        </ul>
        <ol>
            <li>list item 1</li>
            <li>list item 1</li>
            <li>list item 3</li>
            <li>list item 4</li>

        </ol>
        <!--table -->
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>age</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>kk</td>
                    <td>kk@some</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>kj</td>
                    <td>kj@some</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>mn</td>
                    <td>mn@some</td>
                    <td>4</td>
                </tr>

            </tbody>
        </table>
        <br>
        <hr>
        <br>
        <!--forms-->
        <div>
        <label>first Name</label>
        <input type="text" name="firstName">
    </div>
    <br>
    <div>
        <label>last Name</label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label>Email</label>
        <input type="email" name="email">
    </div>
    <br>
    <div>
        <label>gender</label>
        <select name="gender">
            <option value="male">male</option>
            <option value="female">female</option>
            <option value="other">other</option>

        </select>
    </div>
    <br>
    <div>
        <label>age</label>
        <input type="number" name="age"
        value="30"
    </div>
    
    <br>
    <div>
        <label>date</label>
        <input type="number" name="birthday">

    </div>
    <!--image-->
    <img src="dowloads/images/sample.jpg" alt="my sample image"








</body>